# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Ansible
ansible/*.retry
.ansible/

# SSH / AWS keys
minecraftKey
minecraftKey.pub

# Systemd unit backups, logs
*.bak

# IDE & OS files
.vscode/
.DS_Store
